<Files ~ ".log">
Order allow,deny
Deny from all
Satisfy All
</Files>
<Files ~ ".txt">
Order allow,deny
Deny from all
Satisfy All
</Files>
<Files ~ ".md">
Order allow,deny
Deny from all
Satisfy All
</Files>

ErrorDocument 404 /eventoo/settings/error/404.html
ErrorDocument 403 /eventoo/settings/error/403.html