@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

html, body {height: 100%; width: 100%;}

.titolo {
  text-align: center;
  font-size: 52px;
  margin-bottom: -5px;
  margin-top: 0;
  font-family: 'Kalam', Noto Color Emoji, cursive;
}

.descrizione {
  overflow: hidden;
  width: 90%;
  text-align: justify;
}

.informazioni {
  width: 40%;
  min-width: 400px;
  padding: 20px 30px 30px 30px;
  margin-top: 80px;
  margin-right: 65px;
  background-color: var(--color-event-details);
  box-shadow: 5px 5px 7px rgba(33,33,33,0.7);
  font-family: 'Handlee', Noto Color Emoji, cursive;
  font-size: 20px;
  letter-spacing: 2px;
  color: #000000;
  float: left;
  transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  -moz-transform:rotate(-1.5deg);
}

.informazioni b, .informazioni p, .informazioni a {
  font-family: 'Handlee', Noto Color Emoji, cursive;
  font-size: 22px;
}

.informazioni p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.informazioni .material-icons {
  font-size: 24px !important;
  line-height: 1.8 !important;
}

.informazioni a {color: #000000 !important;}

.changeBtn {
  text-decoration: underline !important;
  color: #000000;
  margin-top: 40px;
}

.right_content {
  width: 35%;
  min-width: 400px;
  margin-top: 60px;
  margin-right: 20px;
  float: right;
  background-color: transparent;
}

.file_viewer {
  background: var(--color-event-details);
  border-radius: 4px;
  border-collapse: collapse;
  border: 1px solid #b5b5b5;
}

.file_viewer_single {
  background: #eeeeee;
  border-radius: 4px;
  border-collapse: collapse;
  margin-bottom: 120px;
}

.file_viewer img, .file_viewer_single img {
  padding: 10px 20px;
  height: 50px;
}

.file_viewer a, .file_viewer_single a {
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s;
}

.file_viewer a:hover, .file_viewer_single a:hover {
  background-color: rgba(140,140,140,0.2);
}

/* Immagine della locandina */

.locandina {height: 450px; display: block; margin-right: auto; margin-left: auto; margin-top: 26px;}

/* Bottone per prenotare evento dalla nota del calendario */
.prenotaBtn {
    text-align: center;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #34d0d1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none;
    transition: all 0.4s ease-in-out;
  }
  .prenotaBtn:hover {
    background-color: #27aaaa;
    color: white;
  }
  .prenotaBtn::after {
    content: '\2192';
    font-size: 20px;
    padding-left: 10px;
    transition: all 0.4s;
    color: black;
    position: relative;
    left: 0px;
  }
  .prenotaBtn:hover::after {
    content: '\2192';
    color: white;
    left: 10px;
  }

  /* Dispositivi piccoli */

  @media only screen and (max-width: 990px) {
    .container {padding: 120px 0 0 0 !important; margin: 0 !important;}
    .informazioni, .right_content {
      width: 100% !important;
      margin-top: 30px;
    }
  }
	@media only screen and (max-width: 1050px) {
  #footer {
		bottom: 0;
		width: 100%;
  }
}
